body {
    margin: 0;
}

.container {
    padding: 0;
    width: 100%;
    zoom: 1;
    position: relative;
    margin: 0 auto;
}

.container .content {
    margin: 0 60px;
}

.content-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.first-category {
    padding-top: 20px;
    align-self: flex-end;
}

.first-category span {
    font-size: 13px;
    color: gray;
}

.second-category {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.signup-tab {
    flex: 1;
    width: 120px;
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
}

.signup-tab.active {
    background-color: #007BFF;
    color: white;
}

.third-category {
    width: 600px;
    text-align: center;
}

h1 {
    margin: 40px 0;
}

.form-container {
    border-top: 2px solid #000;
    background-color: #f9f9f9;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #eee;
}

.form-group label {
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.form-group input,
.form-group select {
    width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.form-group input[name="email"] {
    width: 300px;
}

.form-group span {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}

.form-group .err-msg {
    text-align: left;
    margin-top: 5px;
    font-size: 10px;
    color: red;
}

.check-btn {
    height: 42px;
    font-size: 14px;
    padding: 10px 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.check-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none !important;
}

.radio-group {
    display: flex;
}

.radio-group input {
    display: none; /* 기본 라디오 버튼 숨기기 */
}

.radio-group label {
    padding: 10px 34px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #f9f9f9;
}

.radio-group input:checked + label {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.radio-group label:hover {
    background-color: #ddd;
}

.btn {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

}

.btn.submit:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    color: #666;
    cursor: not-allowed;
}

.btn.submit:disabled:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.submit {
    margin-top: 40px;
    background-color: #000;
    color: #fff;
}

.btn.cancel {
    border: 1px solid #000;
    background-color: #fff;
}

.btn.submit:hover {
    background-color: #333;
}