<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="inner">
        <div class="toparea">
            <div class="toparea_state">
                <span th:if="${session.name != null}" th:text="'안녕하세요, ' + ${session.name} + '님'"></span>
                <a href="/register/form" th:if="${session.name == null}">회원가입</a>
                <a th:href="${session.name == null} ? '/login/login' : '/login/logout'" th:text="${session.name == null} ? '로그인' : '로그아웃'"></a>
                <a href="/myPage" th:if="${session.userId != null}">마이페이지</a>
                <a href="/board/notice-list">고객센터</a>
                <a href="/admin/bookList" th:if="${session.authorityId == 'auth_3'}">관리자 페이지</a>
            </div>
        </div>
        <div class="top_nav_box">
            <div class="top_category">
                <img id="nav-icon" src="/img/nav-icon.png" alt="카테고리 분류" height="30px">
                <a href="/">
                    <img src="/img/read-up-logo.png" alt="로고" height="100px">
                </a>
            </div>
            <form action="/book/search" method="get" class="search-container">
                <select th:name="option">
                    <option th:value="'all'" th:selected="${sc?.option} == 'all'">통합검색</option>
                    <option th:value="'title'" th:selected="${sc?.option} == 'title'">도서명</option>
                    <option th:value="'writer'" th:selected="${sc?.option} == 'writer'">저자명</option>
                </select>

                <input type="text" placeholder="검색어를 입력하세요" th:name="keyword" th:value="${sc?.keyword != null ? sc.keyword : ''}">
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="검색">
                </button>
            </form>
            <div class="top_mypage">
                <a href="/myPage" th:if="${session.userId != null}">회원</a>
                <a href="/cart/list" th:if="${session.userId != null}">장바구니</a>
            </div>
        </div>
    </div>
    <div id="parent-table">
        <div id="table">
            <form action="/book/bookList" method="get">
                <table class="categoryAll">
                    <tr class="categoryHeader">
                        <th>분류</th>
                        <th><button type="submit" name="category" value="cl_1">국내도서</button></th>
                        <th><button type="submit" name="category" value="cl_2">해외도서</button></th>
                        <th><button type="submit" name="category" value="cl_3">eBook</button></th>
                    </tr>
                    <tr class="categoryMedium">
                        <td></td>
                        <td><button type="submit" name="category" value="cm_1">건강</button></td>
                        <td><button type="submit" name="category" value="cm_4">건강</button></td>
                        <td><button type="submit" name="category" value="cm_7">건강</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" name="category" value="cs_1">골프</button></td>
                        <td><button type="submit" name="category" value="cs_7">골프</button></td>
                        <td><button type="submit" name="category" value="cs_13">골프</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" name="category" value="cs_2">야구</button></td>
                        <td><button type="submit" name="category" value="cs_8">야구</button></td>
                        <td><button type="submit" name="category" value="cs_14">야구</button></td>
                    </tr>
                    <tr class="categoryMedium">
                        <td></td>
                        <td><button type="submit" name="category" value="cm_2">여행</button></td>
                        <td><button type="submit" name="category" value="cm_5">여행</button></td>
                        <td><button type="submit" name="category" value="cm_8">여행</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" name="category" value="cs_3">아시아</button></td>
                        <td><button type="submit" name="category" value="cs_9">아시아</button></td>
                        <td><button type="submit" name="category" value="cs_15">아시아</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" name="category" value="cs_4">유럽</button></td>
                        <td><button type="submit" name="category" value="cs_10">유럽</button></td>
                        <td><button type="submit" name="category" value="cs_16">유럽</button></td>
                    </tr>
                    <tr class="categoryMedium">
                        <td></td>
                        <td><button type="submit" name="category" value="cm_3">컴퓨터</button></td>
                        <td><button type="submit" name="category" value="cm_6">컴퓨터</button></td>
                        <td><button type="submit" name="category" value="cm_9">컴퓨터</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" name="category" value="cs_5">프로그래밍 언어</button></td>
                        <td><button type="submit" name="category" value="cs_11">프로그래밍 언어</button></td>
                        <td><button type="submit" name="category" value="cs_17">프로그래밍 언어</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" name="category" value="cs_6">컴퓨터 공학</button></td>
                        <td><button type="submit" name="category" value="cs_12">컴퓨터 공학</button></td>
                        <td><button type="submit" name="category" value="cs_18">컴퓨터 공학</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <script src="/js/nav.js"></script>
</header>
</body>
</html>