<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <div class="inner">
        <div class="toparea">
            <div class="toparea_state">
                <span th:if="${session.name != null}" th:text="'안녕하세요, ' + ${session.name} + '님'"></span>
                <a href="/register/form" th:if="${session.name == null}">회원가입</a>
                <a th:href="${session.name == null} ? '/login/login' : '/login/logout'" th:text="${session.name == null} ? '로그인' : '로그아웃'"></a>
                <a href="/myPage" th:if="${session.userId != null}">마이페이지</a>
                <a href="/board/notice-list">고객센터</a>
                <a href="/admin/bookList" th:if="${session.authorityId == 'auth_3'}">관리자 페이지</a>
            </div>
        </div>
        <div class="top_nav_box">
            <div class="top_category">
                <img id="nav-icon" src="/img/nav-icon.png" alt="카테고리 분류" height="30px">
                <a href="/">
                    <img src="/img/read-up-logo.png" alt="로고" height="100px">
                </a>
            </div>
            <form action="/book/search" method="get" id="search-container">
                <select th:name="option">
                    <option th:value="'all'" th:selected="${sc?.option} == 'all'">통합검색</option>
                    <option th:value="'title'" th:selected="${sc?.option} == 'title'">도서명</option>
                    <option th:value="'writer'" th:selected="${sc?.option} == 'writer'">저자명</option>
                </select>

                <input type="text" placeholder="검색어를 입력하세요" th:name="keyword" th:value="${(sc?.keyword != null && sc.keyword.trim() != '') ? sc.keyword.trim() : ''}">
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="검색">
                </button>
            </form>
            <div class="top_mypage">
                <a href="/myPage" th:if="${session.userId != null}">회원</a>
                <a href="/cart/list" th:if="${session.userId != null}">장바구니</a>
            </div>
        </div>
    </div>
    <div id="category-wrapper"> <!-- 전체 카테고리 감싸는 영역 -->
        <div id="category-container"> <!-- 카테고리 묶음 -->
            <div id="category_large">
                <th:block th:each="ctg: ${largeCategories}">
                    <span class="category-large" th:id="${ctg.categoryLargeId}">
                        <a href="#" th:text="${ctg.categoryLargeName}">대분류_이름</a>
                    </span>
                </th:block>
            </div>
            <span class="category-step">></span>
            <div id="category_medium">
            </div>
            <span class="category-step">></span>
            <div id="category_small">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/nav.js"></script>
    <script>
        const form = document.getElementById('search-container')
        const input = form.querySelector('input');
        form.addEventListener('submit', function(event) {
            if (input.value.trim().length === 0) {
                event.preventDefault();
                alert('검색 창에 공백만 입력할 수 없습니다. 다른 값을 입력해 주세요.')
            }
        });
    </script>
</header>
</body>
</html>