<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<aside class="sidebar" th:fragment="sidebar">
    <div class="menu">
        <h3>나의 쇼핑 정보</h3>
        <ul>
            <li><a href="/myPage/orderList">주문내역 조회</a></li>
            <li th:if="${session.isMember}"><a href="/myPage/couponList">쿠폰 내역</a></li>
            <li th:if="${session.isMember}"><a href="/myPage/addressList">배송 주소록 관리</a></li>
        </ul>
    </div>
    <div class="menu" th:if="${session.isMember}">
        <h3>활동 정보</h3>
        <ul>
            <li><a href="/myPage/like/list">좋아요</a></li>
        </ul>
    </div>
    <div class="menu">
        <h3>나의 정보</h3>
        <ul>
            <li><a href="/myPage/editProfile">사용자 정보 수정</a></li>
            <li><a href="/login/logout">로그아웃</a></li>
        </ul>
    </div>
</aside>

</body>
</html>