body {
    margin: 0;
}

.container {
    padding: 0;
    width: 92%;
    zoom: 1;
    position: relative;
    margin: 0 auto;
}

.container .content {
    text-align: center;
    margin-top: 30px;
}


.content-main {
    margin-bottom: 120px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.sort {
    display: flex;
    justify-content: space-between;
}

.sort p {
    font-size: 13px;
    color: gray;
}

.sort p strong {
    font-weight: bold;
    color: black;
    line-height: 38px;
}

.sort-select select {
    vertical-align: middle;
    border-radius: 0;
    max-width: 100%;
    height: 40px;
    padding: 0 15px;
    font-size: 13px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    background-size: 14px 8px;
}

.product-empty {
    text-align: center;
    padding: 80px 0;
    color: black;
}

.empty-icon i {
    font-size: 100px;
    color: gray;
    margin-bottom: 8px;
}

.empty-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.empty-desc {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

/* 상품 카드 스타일 */
.product {
    background-color: #f8f8f8;
    padding: 15px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.product p {
    padding-bottom: 3px;
}

.product img {
    width: 100%;
    height: 75%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

/* 호버 시 이미지 약간 확대 */
.product:hover img {
    transform: scale(1.05);
}

/* 제품명 및 가격 스타일 */
.product-name {
    font-size: 19px;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none !important;
}

.product span {
    font-size: 17px;
}

.product-price {
    font-size: 19px;

    color: darkred;
    text-decoration: none !important;
}

/* 버튼 컨테이너 (기본적으로 숨김) */
.product .hover-buttons {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* 호버 시 버튼 보이도록 설정 */
.product:hover .hover-buttons {
    opacity: 1;
}

/* 버튼 스타일 */
.hover-buttons button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(244, 244, 244, 0.7);
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.hover-buttons button:hover {
    color: white;
    background-color: black;
}

/* 할인 배지 */
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 50%;
}

form.howtopag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

form.howtopag button {
    padding: 0 15px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: white;
}

form.howtopag button.howtopag_item_pagdisabled {
    pointer-events: none;
    color: #ddd;
}

form.howtopag button.howtopag_item_pagactive {
    border: 1px solid black;
}

form.howtopag button:hover {
    background-color: #ddd;
}