<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wru.wrubookstore.mapper.EmployeeMapper">
    <!-- 이메일과 비밀번호로 특정 직원 조회 -->
    <select id="selectByEmailAndPassword" parameterType="map" resultType="EmployeeDto">
        SELECT employee_id, authority_id, dept_id, email, password, name
        FROM employee
        WHERE email = #{email} AND password = #{password}
    </select>

    <!-- 이메일 중복 확인 -->
    <select id="isEmailDuplicated" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM employee
        WHERE email = #{email}
    </select>

</mapper>