<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wru.wrubookstore.mapper.FaqMapper">
    <sql id="selectFromFaq">
        SELECT f.faq_id as faqId, f.employee_id as employeeId, f.title, f.content, f.reg_date as regDate, f.mod_date as modDate, e.name
        FROM faq f
        JOIN employee e ON f.employee_id = e.employee_id
    </sql>

    <select id="select" parameterType="int" resultType="FaqDto">
        <include refid="selectFromFaq"/>
        WHERE f.faq_id = #{faqId} and e.authority_id >= 'auth_1'
    </select>

    <select id="count" resultType="int">
        SELECT count(*)
        FROM faq f
        JOIN employee e ON f.employee_id = e.employee_id
        WHERE e.authority_id >= 'auth_1'
    </select>

    <select id="selectAll" resultType="FaqDto">
        <include refid="selectFromFaq"/>
        WHERE e.authority_id >= 'auth_1'
        ORDER BY reg_date, faq_id
    </select>

    <delete id="deleteAll">
        DELETE f.*
        FROM faq f
        JOIN employee e ON f.employee_id = e.employee_id
        WHERE e.authority_id >= 'auth_1'
    </delete>

    <delete id="deleteForAdmin">
        DELETE f.*
        FROM faq f
        JOIN employee e ON f.employee_id = e.employee_id
        WHERE f.faq_id = #{faqId} AND e.authority_id >= 'auth_1'
    </delete>

    <delete id="delete" parameterType="map">
        DELETE f.*
        FROM faq f
        JOIN employee e ON f.employee_id = e.employee_id
        WHERE f.faq_id = #{faq_id} AND f.employee_id = #{employeeId} AND e.authority_id >= 'auth_1'
    </delete>

    <insert id="insert" parameterType="FaqDto">
        INSERT INTO faq(title, content, employee_id)
        VALUES (#{title}, #{content}, #{employeeId})
        FROM employee
        WHERE employee_id = #{employeeId} AND authority_id >= 'auth_1'
    </insert>

    <update id="update" parameterType="FaqDto">
        UPDATE faq f
        JOIN employee e ON f.employee_id = e.employee_id
        SET f.title = #{title},
            f.content = #{content},
            f.mod_date = now()
        WHERE faq_id = #{faqId} and f.employee_id = #{employeeId}
    </update>

</mapper>