<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WE READ UP - 좋아요</title>
    <link rel="icon" href="/img/read-up-logo.png" type="text/png">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">
    <link rel="stylesheet" href="/css/fragments/sidebar.css">
    <link rel="stylesheet" href="/css/myPage/like-list.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <div class="content">
        <div class="content-head">
            <div class="first-category">
                <span>홈 / 마이쇼핑 / 좋아요</span>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <!-- 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- 메인 컨텐츠 -->
    <main class="main-content">
        <h3>좋아요</h3>
        <hr>

        <div class="wishlist-box">
            <div class="wishlist-item" th:each="likeBook, stat : ${likeBookList}">
                <div class="left">
                    <label>
                        <input type="checkbox" name="bookId" th:value="${likeBook.bookId}">
                    </label>
                    <a th:href="@{/bookDetail(bookId=${likeBook.bookId})}">
                        <img src="https://via.placeholder.com/50" alt="상품 이미지" th:src="${likeBook.image}">
                    </a>
                    <div class="product-info">
                        <a th:href="@{/bookDetail(bookId=${likeBook.bookId})}">
                            <p><strong th:text="${likeBook.name}">샘플상품 1</strong></p>
                        </a>
                        <p th:text="|${#numbers.formatDecimal(likeBook.salePrice, 1, 'COMMA', 0, 'POINT')}원|">5,000원</p>
                    </div>
                </div>
                <div class="actions">
                    <button class="btn" id="add-cart-btn"
                            th:attr="data-book-id=${likeBook.bookId},
                            data-price=${likeBook.salePrice}">
                        장바구니
                    </button>
                    <button id="order-selected-btn" class="btn black">주문하기</button>
                </div>

                <input type="hidden" class="book-info"
                       th:attr="data-bookId=${likeBook.bookId}, data-image=${likeBook.image}, data-name=${likeBook.name},
                                data-order-price=${likeBook.salePrice}, data-quantity=1">
            </div>
        </div>

        <div class="bottom-actions" th:unless="${likeBookList.size() == 0}">
            <div class="delete-actions">
                <form action="/myPage/like/deleteAll" method="post">
                    <button type="submit" class="btn" id="delete-all-btn">전체삭제</button>
                </form>
                <form action="/myPage/like/deleteSelected" method="post" id="deleteSelectedForm">
                    <button type="button" class="btn" id="delete-selected-btn">선택삭제</button>
                </form>
            </div>
        </div>

        <div class="full-order" th:unless="${likeBookList.size() == 0}">
            <span id="order-all-btn" class="btn black">전체상품주문</span>
        </div>


        <div>
            <form class="howtopag" action="/myPage/like/list" method="get">
                <button type="submit" name="page" th:value="${ph.page}-10" th:class="'howtopag_item' + (${ph.page >= 1 and ph.page <= 10} ? '_pagdisabled' : '')">❮❮</button>
                <button type="submit" name="page" th:value="${ph.page}-1" th:class="'howtopag_item' + (${ph.showPrev} ? '' : '_pagdisabled')">❮</button>
                <th:block th:unless="${ph.endPage == 0}">
                    <th:block th:each="num : ${#numbers.sequence(ph.beginPage, ph.endPage)}">
                        <button type="submit" name="page" th:value="${num}" th:text="${num}" th:class="'howtopag_item' + (${ph.page == num} ? '_pagactive' : '')">num</button>
                    </th:block>
                </th:block>
                <button type="submit" name="page" th:value="${ph.page}+1" th:class="'howtopag_item' + (${ph.showNext} ? '' : '_pagdisabled')">❯</button>
                <button type="submit" name="page" th:value="${ph.page}+10" th:class="'howtopag_item' + (${ph.totalPage - 10 < ph.page} ? '_pagdisabled' : '')">❯❯</button>

            </form>
        </div>
    </main>
</div>





<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/cart.js"></script>
<script src="/js/like-list.js"></script>
</body>
</html>