<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WE READ UP - 마이페이지</title>
    <link rel="icon" href="/img/read-up-logo.png" type="text/png">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">
    <link rel="stylesheet" href="/css/fragments/sidebar.css">
    <link rel="stylesheet" href="/css/myPage/my-page.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>





<div class="container">
    <div class="content">
        <div class="content-head">
            <div class="first-category">
                <span>홈 / 마이쇼핑</span>
            </div>

            <div class="titleArea">
                <h1>마이 쇼핑</h1>
            </div>

            <div class="dashboard">
                <div class="dashboard-user">
                    <div class="user-icon"><img src="https://img.echosting.cafe24.com/skin/base_ko_KR/member/img_member_default.gif" alt="사용자"></div>
                    <div class="user-info">
                        <p class="user-name">안녕하세요. <span th:text="${session.name}">이자바</span> 님!</p>
                        <p class="user-grade" th:if="${session.isMember}">고객님의 회원등급은 <span class="grade" th:text="${myPageRequest.membershipName}">일반회원</span> 입니다.</p>
                        <p class="user-grade" th:unless="${session.isMember}">고객님은 비회원입니다. 회원 전환은 사용자 정보 수정 탭에서 진행해주세요.</p>
                    </div>
                </div>
                <div class="dashboard-items">
                    <div class="dashboard-item" th:if="${session.isMember}">
                        <div class="icon"><img src="/img/money-icon.png" alt="총적립금"></div>
                        <p class="amount" th:text="|${#numbers.formatDecimal(myPageRequest.mileage, 1, 'COMMA', 0, 'POINT')}원|">0원</p>
                        <p class="label">총적립금</p>
                    </div>
                    <a href="/myPage/couponList" class="dashboard-item" th:if="${session.isMember}">
                        <div class="icon"><img src="/img/coupon-icon.png" alt="쿠폰"></div>
                        <p class="amount" th:text="|${myPageRequest.couponCnt}개|">1개</p>
                        <p class="label">쿠폰</p>
                    </a>
                    <a href="/myPage/orderList" class="dashboard-item">
                        <div class="icon"><img src="/img/order-icon.png" alt="총주문"></div>
                        <p class="amount" th:text="|${myPageRequest.orderCnt}회|">0회</p>
                        <p class="label">총주문</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <!-- 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- 메인 컨텐츠 -->
    <main class="main-content">
        <h2>나의 주문처리 현황 <span>(최근 6개월 기준)</span></h2>

        <div class="order-status">
            <a href="/myPage/orderList?statusId=DS1" class="status">
                <p class="count" th:text="${myPageRequest.orderDs1Cnt}">0</p>
                <p class="label">배송준비중</p>
            </a>
            <span class="arrow">→</span>
            <a href="/myPage/orderList?statusId=DS2" class="status">
                <p class="count" th:text="${myPageRequest.orderDs2Cnt}">0</p>
                <p class="label">배송중</p>
            </a>
            <span class="arrow">→</span>
            <a href="/myPage/orderList?statusId=DS3" class="status">
                <p class="count" th:text="${myPageRequest.orderDs3Cnt}">0</p>
                <p class="label">배송완료</p>
            </a>
        </div>

        <div class="order-details">
            <a href="/myPage/exchangeRefundList">교환: <strong th:text="${myPageRequest.exchangeCnt}">0</strong></a>
            <a href="/myPage/exchangeRefundList">환불: <strong th:text="${myPageRequest.refundCnt}">0</strong></a>
        </div>
    </main>
</div>





<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>