<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WE READ UP - 주문정보</title>
    <link rel="icon" href="/img/read-up-logo.png" type="text/png">
    <link rel="stylesheet" href="/css/fragments/header.css">
    <link rel="stylesheet" href="/css/fragments/footer.css">
    <link rel="stylesheet" href="/css/fragments/nav.css">
    <link rel="stylesheet" href="/css/fragments/sidebar.css">
    <link rel="stylesheet" href="/css/myPage/order-detail.css">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>





<div class="container">
    <div class="content">
        <div class="content-head">
            <div class="first-category">
                <span>홈 / 마이쇼핑 / 주문상세조회</span>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <!-- 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- 메인 컨텐츠 -->
    <main class="main-content">
        <h3>주문상세조회</h3>

        <!-- 주문 정보 -->
        <section class="order-info">
            <h5>주문 정보</h5>
            <table class="order-table">
                <tbody>
                <tr>
                    <th>주문번호</th>
                    <td th:text="${orderDetail.orderDto.orderId}">20250319-0000026</td>
                </tr>
                <tr>
                    <th>주문날짜</th>
                    <td th:text="${#dates.format(orderDetail.orderDto.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>주문완료날짜</th>
                    <td th:text="${orderDetail.orderDto.endDate == null ? '-' : #dates.format(orderDetail.orderDto.endDate, 'yyyy-MM-dd HH:mm:ss')}">2025-03-19 21:07:48</td>
                </tr>
                <tr>
                    <th>주문자</th>
                    <td th:text="${orderDetail.orderDto.userName}">이승원</td>
                </tr>
                <tr>
                    <th>주문처리상태</th>
                    <td th:text="${orderDetail.orderDto.statusId}">배송전</td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="order-info">
            <h5>결제 정보</h5>
            <table class="order-table">
                <tbody>
                <tr>
                    <th>결제번호</th>
                    <td th:text="${orderDetail.paymentDto.paymentId}">20250319-0000026</td>
                </tr>
                <tr>
                    <th>총 주문금액</th>
                    <td th:text="|${#numbers.formatDecimal(orderDetail.paymentDto.totalPrice, 1, 'COMMA', 0, 'POINT')}원|">17,500</td>
                </tr>
                <tr>
                    <th>마일리지 적용 금액</th>
                    <td th:text="|${#numbers.formatDecimal(orderDetail.paymentDto.mileageDiscount, 1, 'COMMA', 0, 'POINT')}원|">17,500</td>
                </tr>
                <tr>
                    <th>쿠폰 적용 금액</th>
                    <td th:text="|${#numbers.formatDecimal(orderDetail.paymentDto.couponDiscount, 1, 'COMMA', 0, 'POINT')}원|">17,500</td>
                </tr>
                <tr>
                    <th>총 결제금액</th>
                    <td th:text="|${#numbers.formatDecimal(orderDetail.paymentDto.actualPrice, 1, 'COMMA', 0, 'POINT')}원|">17,500</td>
                </tr>
                <tr>
                    <th>결제수단</th>
                    <td th:text="${orderDetail.paymentDto.paymentMethod}">위리페이</td>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="order-info">
            <h5>주문상품 정보</h5>
            <div class="product-container" th:each="orderBook : ${orderDetail.orderBookRequestList}">
                <div class="product-image">
                    <img th:src="${orderBook.image}" alt="상품 이미지">
                </div>
                <div class="product-info">
                    <p class="product-name" th:text="${orderBook.name}">샘플상품 1</p>
                    <p class="product-price" th:text="|${#numbers.formatDecimal(orderBook.orderPrice, 1, 'COMMA', 0, 'POINT')}원 (${orderBook.quantity}개)|">5,000원 (1개)</p>
                </div>
            </div>
        </section>

        <section class="order-info">
            <h5>배송지 정보</h5>
            <table class="order-table">
                <tbody>
                <tr>
                    <th>받으시는분</th>
                    <td th:text="${orderDetail.deliveryDto.recipient}"></td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td th:text="${orderDetail.deliveryDto.zipCode}"></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td th:text="|${orderDetail.deliveryDto.mainAddress}(${orderDetail.deliveryDto.detailAddress})|"></td>
                </tr>
                <tr>
                    <th>휴대전화</th>
                    <td th:text="${orderDetail.deliveryDto.phoneNum}"></td>
                </tr>
                <tr>
                    <th>배송메시지</th>
                    <td th:text="${orderDetail.deliveryDto.message == null ? '-' : orderDetail.deliveryDto.message}"></td>
                </tr>
                <tr>
                    <th>배송상태</th>
                    <td th:text="${orderDetail.deliveryDto.statusId}"></td>
                </tr>
                <tr>
                    <th>배송접수날짜</th>
                    <td th:text="${#dates.format(orderDetail.deliveryDto.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>배송완료날짜</th>
                    <td th:text="${orderDetail.deliveryDto.endDate == null ? '-' : #dates.format(orderDetail.deliveryDto.endDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                </tbody>
            </table>
        </section>

        <div class="order-list">
            <a href="/myPage/orderList">주문 목록 보기</a>
        </div>
    </main>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>